@import "tailwindcss";

:root {
  --background: #f9f9f9; /* Off-white background for a modern look */
  --foreground: #000000; /* True black for better contrast */
  --accent: #1e3a8a; /* Dark blue accent */
  --accent-opacity: rgba(30,58,138,0.5);
  --secondary-accent: #d4af37; /* Soft gold for highlights */
  --secondary-accent-opacity: rgba(212,175,55,0.5);
  --nav-bg: #1f2937; /* Gray-800 for navigation background */
  --text-primary: #000000; /* Black for primary text */
  --link-active: #38bdf8; /* Blue-400 for active links */
  --text-secondary: #374151; /* Gray-700 for secondary text */
  --success: #16a34a; /* Green-600 for success messages */
  --error: #dc2626; /* Red-600 for error messages */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212; /* Dark background for dark mode */
    --foreground: #ffffff; /* White for better contrast in dark mode */
    --accent: #153e75; /* Slightly adjusted dark blue accent for dark mode */
    --accent-opacity: rgba(30,58,138,0.5);
    --secondary-accent: #c49f45; /* Adjusted soft gold for dark mode */
    --secondary-accent-opacity: rgba(212,175,55,0.5);
    --nav-bg: #111827; /* Darker Gray-900 for navigation background in dark mode */
    --text-primary: #ffffff; /* Light Gray-100 for primary text in dark mode */
    --link-active: #5495ff; /* Blue-300 for active links in dark mode */
    --text-secondary: #4b5563; /* Gray-600 for secondary text in dark mode */
    --success: #22c55e; /* Green-500 for success messages in dark mode */
    --error: #ef4444; /* Red-500 for error messages in dark mode */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}
